.container{

height: 100vh;
width: 100%;
}
#header{
	position: fixed;
    top: 0;
    left: 0;
    background-color: #d6d5d5;
    z-index: 2;
		width:100%;
		height:10%;
		display:flex;
 	 justify-content: center;
}
#logo{
	color:rgb(156, 33, 156)
}
.nav-bar{
	top: 50px; /* Consider the header height */
	left: 256px; /* Adjust to match nav-bar width */
	background-color: #ddd;
	z-index: 1; /* Place it below the header */
  width: 100%;
  height: 7vh;
  background-color: #000000;
  position: fixed;
}
.side-bar{
  margin-top: 10px;
  width: 20%;
  height: 90%;
  background-color: #000000;
	position: fixed;
  top: 50px; /* Consider the header height */
  left: 2px; /* Adjust to match nav-bar width */
  background-color: #000000;
  z-index: 1; /* Place it below the header */
}
.logout{
  cursor: pointer;
}
.side-bar ul {
	list-style: none;
	padding: 0;
}

.side-bar li {
	margin-bottom: 10px; /* Add space between items */
}

.side-bar a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white;
	transition: background-color 0.3s; /* Add hover transition */
}
.side-bar a.active {
	background-color: #333; /* Apply a different background color to the active item */
}
.side-bar a:hover {
	background-color: #333; /* Change background color on hover */
}

.side-bar i {
	margin-right: 10px; /* Add space between icon and text */
}
.main{

  width: 80%;
  height: 90%;
  margin-top: 20vh;
  margin-left: 20%;
}
#menu{
	
	margin:0;
	list-style-type:none;
	height:100%;
}

#menu li{
	
	display:inline-block;
	
}

#menu li a{

	text-decoration:none;
	display:inline-block;
	color:white;
	padding:13px;
  line-height: 36px;

	}

#menu li a:hover{
	background-color:white;
	color:black;
}
.book {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.book-image {
    flex: 1;
    padding-right: 10px;
}

.book-image img {
    max-width: 100%;
    height: 200px !important;
}

.book-details {
    flex: 2;
}

.book h2 {
    font-size: 1.2rem;
    margin: 0;
}

.book p {
    margin: 0;
}

.rating {
    font-size: 1.5rem;
    color: #FFD700;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}
.read-more {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px; /* Adjust the margin as needed */
}

.read-more:hover {
	background-color: #0056b3;
}


.link-spacing {
  margin-right: 30px; /* Adjust the margin as needed */
}

p {
  font-family: 'Bebas Neue', sans-serif;
  /* Add other styles as needed */
}
