.book-image{
  float: left;
  width: 20%;
}
.book-details{
  float: left;
  width: 37%;
}
.book-price{
  float: left;
  width: 12%;
}
.book-quantity{
  float: left;
  width: 10%;
}
.book-removal{
  float: left;
  width: 9%;
}
.book-line-price{
  float: left;
  width: 12%;
  text-align: right;
}
.group:before, .shopping-cart:before,
.column-labels:before,
.book:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.book:after,
.totals-item:after {
  content: "";
  display: table;
}

.group:after, .shopping-cart:after,
.column-labels:after,
.book:after,
.totals-item:after {
  clear: both;
}

.group, .shopping-cart,
.column-labels,
.book,
.totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.book .book-price:before,
.book .book-line-price:before,
.totals-value:before {
  content: "$";
}
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: #aaa;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .book-image,
.column-labels .book-details,
.column-labels .book-removal {
  text-indent: -9999px;
}
/* Product entries */
.book {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.book .book-image {
  text-align: center;
}
.book .book-image img {
  width: 100px;
}
.book .book-details .book-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.book .book-details .book-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.book .book-quantity input {
  width: 40px;
}
.book .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.book .remove-book:hover {
  background-color: #a44;
}
