.container{
  width: 100%;
  display: flex;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}
.side-bar {
  width: 250px;
  background-color: #002060;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar .logo {
  text-align: center;
}
.side-bar ul {
  list-style: none;
  padding: 0;
}

.side-bar li {
  margin: 20px 0;
}

.side-bar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
}

.side-bar a:hover {
  background-color: #34495e;
}
.logout{
  cursor: pointer;
}
main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 5vh;
}
#menu{
	
	margin:0;
	list-style-type:none;
	height:100%;
}

#menu li{
	
	display:inline-block;
	
}

#menu li a{

	text-decoration:none;
	display:inline-block;
	color:white;
	padding:13px;
  line-height: 36px;

	}

#menu li a:hover{
	background-color:white;
	color:black;
}
.book {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.book-image {
    flex: 1;
    padding-right: 10px;
}

.book-image img {
    max-width: 100%;
    height: 200px !important;
}

.book-details {
    flex: 2;
}

.book h2 {
    font-size: 1.2rem;
    margin: 0;
}

.book p {
    margin: 0;
}

.rating {
    font-size: 1.5rem;
    color: #FFD700;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}
.read-more {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px; /* Adjust the margin as needed */
}

.read-more:hover {
	background-color: #0056b3;
}


.link-spacing {
  margin-right: 30px; /* Adjust the margin as needed */
}

p {
  font-family: 'Bebas Neue', sans-serif;
  /* Add other styles as needed */
}
.cart-count-circle {
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em; /* Adjust as needed for size */
  margin-left: 5px; /* Adjust as needed for spacing */
}
.cart-button {
    position: relative;
}
#cart-count {
    font-weight: bold;
}
.modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        /* Style for the overlay background */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }
        .details {
            /* border: 2px solid #002060; */
            margin-top: 20px;
            border-radius: 5px;
            height: auto;
        }
        /* Style for the button */
        .logout-button {
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;}